/* did this shit compile? */
@import "bourbon/bourbon";
@import "neat/neat";
$primary-color: #333;

body {
  font-family: $helvetica;
  color: $primary-color;
}
ul{
  form {
    button {
      @include button(pill)
    }
  }
  @include span-columns(6);
  li {
    margin-bottom: 10px;
    @include padding(30px, 5px, 5px, null);
    @include linear-gradient(65deg, pink, yellow);
    @include span-columns(2 of 2);
  }
}

