/* did this shit compile? */
@import "bourbon/bourbon";
@import "neat/neat";
$primary-color: #333;

body {
  font-family: $helvetica;
  color: $primary-color;
}
ul{
  @include span-columns(7);
  li {
    margin-bottom: 10px;
    @include linear-gradient(65deg, green, purple);
    @include span-columns(2 of 2);
  }
}

