@import "bourbon";
@import "neat";

$color-light: rgb(100, 120, 255);
$color-dark: rgb(0, 100, 225);
$color-border: rgb(0, 0, 40);

* {
  margin: 0;
}

button, input[type="button"], input[type="submit"] {
  background: $color-light;
  border-radius: 28px;
  font-family: $helvetica;
  color: #ffffff;
  font-size: 10px;
  padding: 3px 7px 3px 7px;
  text-decoration: none;
  outline: none;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;

  &:hover{
    color: rgb(0, 30, 200)
  }
}

input:focus {
  outline: none;
}

div.welcome {
  margin: 200px auto 300px auto;
  height: 100px;
  width: 600px;
  background-color: $color-light;
}

body {
  font-family: $helvetica;
  @include outer-container(70%);
  margin: 0 auto;
  min-width: 525px;
}

.thread-header {
  height: 50px;
  background-color: $color-light;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  box-shadow: inset 0 0 0 2px $color-border;
}

.main-header {
  height: 50px;
  background-color: $color-light;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  box-shadow: inset 0 0 0 2px $color-border;

  p {
    margin: 0;
    float: right;
  }

}

.nav-list {
  list-style: none;
  float: left;
  padding: 0;
  li {
    display: inline;
    margin-left: 10px;
  }
}

footer {
  height: 120px;
  background-color: $color-light;
  margin: 20px 0px 20px 0px;
  padding: 10px;
  form {
    @include span-columns(4);
    @include shift(4);
    textarea {
      width: 300px;
      height: 75px
    }
  }
  span {
    color: red;
  }

}

.controller-view {
  @include clearfix;
    ul.thread {
    margin: 0 auto;
    list-style: none;
    padding: 0;

    li.post {
      background-color: $color-light;
      border: 1px solid $color-border;
      margin-bottom: 5px;
      @include span-columns(12);

      .post-top-bar {
        @include fill-parent();
        float: none;
        background-color: $color-dark;
      }

      section.post-body {
        min-height: 100px;
        min-width: 100px;
        padding: 10px;
        display: inline-block;
        @include span-columns(10 of 12);
      }

      aside.user-data {
        @include span-columns(2 of 12);
        display: inline-block;
        padding: 10px;
        @include omega();

        .avatar {
          display: block;
          width: 60px;
          height: 60px;
        }
      }

      button.show-edit {
        margin-top: 20px;
      }

      form.edit-post-form {
        @include span-columns(6 of 6);
        margin-top: 15px;
        padding-bottom: 5px;

        input[type="text"]{
          @include size(20% auto);
        }

        input[type="submit"], input[type="button"] {
          float: right;
        }
      }
    }
  }
}

